@model Blog.ViewModels.PostViewModel
@using static Blog.Extensions.ClaimsPrincipalExtensions;

<link href="~/css/comment.css" rel="stylesheet" />

<div class="container mt-5">
	<div class="post-container">
		<h1>@Model.Title</h1>
		<hr />

		<div class="post-image">
			@if (!String.IsNullOrEmpty(Model.CurrentImage))
			{
				<img src="@Url.Content($"/Image/{Model.CurrentImage}")" class="img-fluid" alt="Post Image" />
			}
		</div>

		<div class="post-body">
			@Html.Raw(Model.Body)
		</div>
	</div>

	<hr />

	<div class="comment-section">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="add-comment">
				@{
					ViewBag.CssClass = "main-comment-css";
					await Html.RenderPartialAsync("_Comment", new CommentViewModel
				{
					PostId = Model.Id.ToString(),
					MainCommentId = 0
				});
				}
			</div>

			@foreach (var mc in Model.MainComments)
			{
				<div class="main-comment mt-4">

					<div class="comment-message-wrapper">
						<p class="comment-message">@mc.Message</p>
						<span class="timestamp">@mc.CreatedOn.ToString("g")</span>

						@if (User.Identity.IsAuthenticated && (mc.UserId == User.GetId() || User.IsInRole("Admin")))
						{
							<a asp-action="EditComment" asp-route-commentId="@mc.Id" asp-route-postId="@Model.Id" class="btn btn-sm btn-warning">Edit</a>
						}
					</div>

					<div class="reply-container">
						<input type="checkbox" id="reply-checkbox-@mc.Id" class="reply-checkbox" />
						<label for="reply-checkbox-@mc.Id" class="btn btn-link">Reply</label>
						<div class="reply-form">
							@{
								ViewBag.CssClass = "reply-comment-css";
								await Html.RenderPartialAsync("_Comment", new CommentViewModel { PostId = Model.Id.ToString(), MainCommentId = mc.Id });
							}
						</div>
					</div>

					@foreach (var sc in mc.SubComments)
					{
						<div class="comment-message-wrapper-reply">
							<p class="comment-message">@sc.Message</p>
							<span class="timestamp">@sc.CreatedOn.ToString("g")</span>

							@if (User.Identity.IsAuthenticated && (sc.UserId == User.GetId() || User.IsInRole("Admin")))
							{
								<a asp-action="EditComment" asp-route-commentId="@sc.Id" asp-route-postId="@Model.Id" class="btn btn-sm btn-warning">Edit</a>
							}
						</div>
					}
				</div>
			}
		}
		else
		{
			<div class="alert alert-info">
				<a asp-action="Login" asp-controller="User">Sign In</a> to comment!
			</div>
		}
	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}