@model Post

<div class="container mt-5">
	<div class="post-container">
		<h1>@Model.Title</h1>
		<hr />

		<div class="post-image">
			@if (!String.IsNullOrEmpty(Model.Image))
			{
				<img src="@Url.Content($"/Image/{Model.Image}")" class="img-fluid" alt="Post Image" />
			}
		</div>

		<div class="post-body">
			@Html.Raw(@Model.Body)
		</div>
	</div>

	<hr />

	<div class="comments-section">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="add-comment">
				@{
					await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id.ToString(), MainCommentId = 0 });
				}
			</div>

			@foreach (var mc in Model.MainComments)
			{
				<div class="main-comment mt-4">
					<hr />
					<h3>Main Comment</h3>
					<p>@Html.Raw(mc.Message) --- @mc.CreatedOn.ToString("g")</p>

					<div class="sub-comments ml-4">
						<h4>Sub Comments</h4>
						@{
							await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id.ToString(), MainCommentId = mc.Id });
						}

						@foreach (var sc in mc.SubComments)
						{
							<div class="sub-comment mt-2">
								<p>@Html.Raw(sc.Message) --- @sc.CreatedOn.ToString("g")</p>
							</div>
						}
					</div>
				</div>
			}
		}
		else
		{
			<div class="alert alert-info">
				<a asp-action="Login" asp-controller="User">Sign In</a> to comment on this awesome post!
			</div>
		}
	</div>
</div>